@use '../colors';
@use 'components/logo';
@use 'components/navigation';
@use 'components/preview';

body {
  background: colors.$surface-1;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  > section#preview {
    background: colors.$surface-2;
    box-shadow: rgba(0,0,0,0.5) 0 0 6px;
  }

  > main {
    flex: 1;
  }

  > header, > section#preview, > main, > footer {
    width: 960px;
    margin: auto auto;
    box-sizing: border-box;
  }

  > main, > footer {
    position: relative;
    padding: 1.5em;
  
    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: calc((100vw - 100%) / 2);
      background: colors.$surface-2;
    }
  
    &::before { right: 100%; box-shadow: inset -8px 0 6px -8px rgba(0,0,0,0.5); }
    &::after { left: 100%; box-shadow: inset 8px 0 6px -8px rgba(0,0,0,0.5); }
  
    & > :first-child { margin-top: 0; }
  }

  > main { background: colors.$surface-3; }
  > footer { background: colors.$surface-1; }
}