---
layout: compress
---
<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title | append: " | "}}{% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
</head>
<body>
    <header>
        <a href="{{ '/' | relative_url }}" id="logo"><span class="subdomain">blog.</span>phisch<span class="tld">.codes</span></a>
        <nav id="navigation">
            <ol>
                {% assign navigation_pages = site.pages | sort: "navigation_order" %}
                {% for p in navigation_pages %}
                    {% if p.navigation_order != null and p.layout == "page" or p.layout == "home" and p.url == "/" %}
                        <li class="{% if p.url == page.url %}current{% endif %}">
                            <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </header>
    <section id="preview"></section>
    <main data-layout="{{page.layout}}">
        {{ content }}
    </main>
    <footer>
        <p>
            © {{ 'now' | date: "%Y" }}
            <span class="author">
                {% if site.author.website %}
                    <a href="{{ site.author.website }}">{{ site.author.name }}</a>
                {% else %}
                    {{ site.author.name }}
                {% endif %}
            </span>
        </p>
    </footer>
</body>
</html>