---
layout: compress
---
<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title | append: " | "}}{% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}">
    <!-- <script src="{{ '/assets/scripts/bundle.js' | relative_url }}"></script>-->
</head>
<body>
    <header>
        <a href="{{ '/' | relative_url }}" id="logo"><span class="subdomain">blog.</span>phisch<span class="tld">.codes</span></a>
        <nav id="navigation">
            <ol>
                {% assign navigation_pages = site.pages | sort: "navigation_order" %}
                {% for p in navigation_pages %}
                    {% if p.navigation_order != null and p.layout == "page" or p.layout == "home" %}
                        <li {% if p.url == page.url %}class="current"{% endif %}>
                            <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </header>
    <section id="preview">
        {% if page.image %}
            {% if page.image_after %}
                <section class="image-compare"
                    {% if page.image_compare_vertical %}data-compare_vertical="true"{% endif %}
                    {% if page.image_compare_hover %}data-compare_hover="true"{% endif %}>
                    <img src="{{ site.baseurl }}{{ page.image }}" alt="" srcset="">
                    <img src="{{ site.baseurl }}{{ page.image_after }}" alt="" srcset="">
                </section>
            {% else %}
                <img src="{{ site.baseurl }}{{ page.image }}" alt="" srcset="">
            {% endif %}
        {% else %}
            <h1>{{ page.title }}</h1>
        {% endif %}
    </section>
    <main data-layout="{{page.layout}}">{{ content }}</main>
    <footer>
        <p>
            © {{ 'now' | date: "%Y" }}
            <span class="author">
                {% if site.author.website %}
                    <a href="{{ site.author.website }}">{{ site.author.name }}</a>
                {% else %}
                    {{ site.author.name }}
                {% endif %}
            </span>
        </p>
    </footer>
</body>
</html>