---
layout: default
---
{{ content }}

{% assign giscus = site.giscus %}
{% if giscus.enabled %}
    <script src="https://giscus.app/client.js"
        data-repo="{{ giscus.repository.name }}"
        data-repo-id="{{ giscus.repository.id }}"
        data-category="{{ giscus.category.name }}"
        data-category-id="{{ giscus.category.id }}"
        data-mapping="{{ giscus.mapping }}"
        data-reactions-enabled="{% if giscus.reactions %}1{% else %}0{% endif %}"
        data-emit-metadata="{% if giscus.emit_metadata %}1{% else %}0{% endif %}"
        data-theme="{{ giscus.theme }}"
        crossorigin="{{ giscus.crossorigin }}"
        async>
    </script>
{% endif %}